{% extends 'blog/layout.html' %}
{% block title %}iCoder - Home{% endblock title %}

{% block body %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">himmu5056</a>
        <small class="text-muted">17 August 2022</small>
      </div>
      <h3><a class="article-title" href="#">What is Django? | How does it work?</a></h3>
      <p class="article-content">Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern. It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit. </p>
    </div>
  </article>

{% endblock body %}

